* {
  font-family: "Roboto", sans-serif;
}

.pet__background {
  background-color: #fafafa;
}

.pet__container-image {
  border-radius: 5px 5px 0 0;
  width: 600px;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.pet__container {
  max-width: 600px;
  max-height: 900px;
  border-radius: 5px;
  border: 1px solid #770f05;
  margin: auto;
}

.pet__container-username {
  font-weight: 900;
}

.pet__container-caption {
  padding: 15px 10px;
  font-size: 1.8vh;
}

.pet__container-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2%;
  align-items: center;
}

.pet__container-like {
  height: 60px;
  width: 60px;
  align-items: center;
}

.pet-likes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.pet__container-more {
  background-color: #770f05;
  color: white;
  font-size: 2vh;
  padding: 5px;
  width: 40%;
  border-radius: 5px;
  text-align: center;
}

.pet__container-more-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  color: white;
  margin-top: 5px;
  background-color: #770f05;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #770f055b;
}

.pet__container-titles {
  font-weight: 800;
  text-decoration: underline;
  font-size: 2vh;
}

@media only screen and (max-width: 414px) {
  .pet__container {
    margin-top: 10px;
    max-height: 100%;
    width: 400px;
  }
  .pet__container-image {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 375px) {
  .pet__container {
    width: 360px;
  }
  .pet__container-image {
    width: 360px;
    height: 360px;
  }
}

@media only screen and (max-width: 360px) {
  .pet__container {
    max-height: 100%;
    width: 340px;
  }
  .pet__container-image {
    width: 340px;
    height: 340px;
  }
}

@media only screen and (max-width: 321px) {
  .pet__container {
    width: 310px;
  }
  .pet__container-image {
    width: 310px;
    height: 310px;
  }
}
