.CatBreeds___container {
  height: 80vh;
  width: 20%;
  overflow-y: scroll;
  color: white;
  float: right;
  box-shadow: -5px 5px #770f057c;
}

.CatBreeds__breed {
  line-height: 2;
  border-bottom: 1px solid white;
  background-color: #770f05;
  padding-left: 10px;
}

.CatBreeds__breed:hover {
  background-color: #770f05bf;
  font-size: 2vh;
}

.CatBreeds___container a {
  text-decoration: none;
  color: white;
}

.CatBreeds__info-container {
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

.CatBreeds__info-title {
  padding-top: 5%;
  font-size: 4vh;
}

.CatBreeds__info-key {
  padding-right: 20px;
  text-align: left;
  color: black;
}

.CatBreeds__info-property {
  line-height: 3em;
  border-bottom: 1px solid #a80000;
  text-align: right;
  color: #d4af37;
}

.CatBreeds__container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  height: 300px;
  max-width: 300px;
  background-color: #770f05bb;
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px #770f05;
  padding: 10px;
}

@media only screen and (max-width: 1025px) {
  .CatBreeds__breed {
    font-size: 1vh;
  }

  .CatBreeds__breed:hover {
    font-size: 1.5vh;
  }
}

@media only screen and (max-width: 880px) {
  .CatBreeds__info-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25vh;
  }
  .CatBreeds___container {
    height: 60vh;
  }
}
@media only screen and (max-width: 414px) {
  .CatBreeds__info-title {
    padding-top: 5%;
    font-size: 2.5vh;
  }

  .CatBreeds__info-container {
    width: 200px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-right: 0;
    font-size: 1vh;
  }
  .CatBreeds___container {
    height: 40vh;
  }
  .CatBreeds__container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vh;
    height: 150px;
    max-width: 150px;
    background-color: #770f05bb;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
}
@media only screen and (max-width: 321px) {
  .CatBreeds__info-container {
    width: 150px;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto;
    padding-right: 0;
    text-align: center;
    font-size: 1vh;
  }
}
